<% formatter = Rouge::Formatters::HTMLLineTable.new(Rouge::Formatters::HTML.new) %>
<% lexer = "Rouge::Lexers::#{language.to_s.classify}".constantize.new %>
<% source = yield.strip # To do: remove opening whitespace from each line so all lines are aligned %>

<div class="highlight bg-gray-100 my-2">
  <%= formatter.format(lexer.lex(source)).html_safe %>
</div>