<div class="border-b border-gray-200 py-6 px-4">
  <div class="md:max-w-2xl md:m-auto">
    Ollie H-M <span class="align-top leading-none">.</span> <%= link_to "@olliedoodleday", "https://twitter.com/olliedoodleday" %>
  </div>
</div>